.row {

  &--cols-5-7 {

    @mixin atMedium {
      display: grid;
      grid-template-columns: 5fr 7fr;
      grid-gap: 65px;
    }
  }

  &__b-margin-until-md {
    margin-bottom: 1rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &--cols-6-6 {

    @mixin atMedium {
      display: grid;
      grid-template-columns: 6fr 6fr;
    }
    
  }

  /* &__col-6--sm-width {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  } */
  
}